@model Part
@{
    ViewData["Title"] = "Cpu";
}
<div style="margin:20px 30px">
    <h1 style="text-align:center">Cpu List</h1>
    <div class="my-bg-dark">
        <table id="myTable" class="table table-striped col-12">
            <thead class="bg-primary">
                <tr>
                    <th class="all">
                        <label asp-for="@Model.Name"></label>
                    </th>
                    <th class="desktop">
                        <label asp-for="@Model.Benchmark"></label>
                    </th>
                    <th class="all">
                        <label asp-for="@Model.Score"></label>
                    </th>
                    <th class="desktop">
                        <label asp-for="@Model.Price"></label>
                    </th>
                    <th class="desktop">
                        <label asp-for="@Model.ReleaseDate"></label>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/showcaseCpu.js"></script>
}
